.rectangle img {
    width: 1240px;
    height: 827px;
}
.fiabilité,
.respect,
.service,
.securité {
    margin-top: 2%;
    display: flex;
    width: 1240px;
    height: 47px;
    flex-shrink: 0;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.menu_deroulant {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    margin-top: 1.5rem;
    width: 100%;
}
.respect img,
.fiabilité img,
.service img,
.securité img {
    float: right;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.respect img:active {
    transform: rotate(180deg);
}
.classe-clic {
    align-items: center;
    margin-bottom: 2%;
    border-radius: 5px;
    justify-content: space-between;
    width: 1240px;
    height: 47px;
    flex-shrink: 0;
    background-color: #ff6060;
    color: #ffffff;
    display: flex;
    img {
        width: 50px;
        height: 50px;
    }
}
.texte_page_a_propos {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
    -webkit-animation: slide 1s ease-in;
    animation: slide 1s ease-in;
    width: 1240px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.Description_text,
.Equipements_text {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
    -webkit-animation: slide 1s ease-in;
    animation: slide 1s ease-in;
}
