.rectangle img {
    width: 1240px;
    height: 827px;
}
.fiabilité,
.respect,
.service,
.securité {
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 47px;
    flex-shrink: 0;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.menu_deroulant {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    margin-top: 1.5rem;
    width: 100%;
}
.respect img,
.fiabilité img,
.service img,
.securité img {
    float: right;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.respect img:active {
    transform: rotate(180deg);
}
.classe-clic {
    align-items: center;
    margin-bottom: 2%;
    border-radius: 5px;
    justify-content: space-between;
    width: 1240px;
    height: 47px;
    flex-shrink: 0;
    background-color: #ff6060;
    color: #ffffff;
    display: flex;
    img {
        width: 50px;
        height: 50px;
    }
}

.fiabilité,
.respect,
.service,
.securité {
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2%;
    width: 1023px;
    height: 47px;
    flex-shrink: 0;
    background-color: #ff6060;
    color: #ffffff;
}
.texte_page_a_propos {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
    -webkit-animation: slide 1s ease-in;
    animation: slide 1s ease-in;
    width: 1240px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.container {
    width: 1240px;
}
.Image_a_propos {
    width: 1240px;
    height: 223px;
    top: 152px;
    left: 100px;
    object-fit: cover;
}
@media (max-width: 320px) and (max-width: 375px) {
    .container {
        width: 320px;
    }
    .Image_a_propos {
        width: 90%;
        margin-top: 5%;
        left: 100px;
        object-fit: cover;
        border-radius: 30px;
        margin-left: 20px;
    }
    .menu_deroulant {
        width: 320px;
        margin-left: 20px;
    }
}
@media (min-width: 375px) and (max-width: 424px) {
    .container {
        width: 360px;
    }
    .Image_a_propos {
        width: 360px;
        border-radius: 30px;
        margin-left: 25px;
    }
    .divFooter {
        margin-top: 15px;
        width: 360px;
        margin-left: 15px;
    }
    .menu_deroulant {
        width: 100%;
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    .container {
        width: 400px;
    }
    .fiabilité,
    .respect,
    .service,
    .securité {
        width: 100%;
    }
    .Image_a_propos {
        width: 100%;
        height: 223px;
        top: 152px;
        left: 100px;
        object-fit: cover;
        border-radius: 30px;
        margin-left: 20px;
    }
    .menu_deroulant {
        margin-left: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 760px;
    }
    .fiabilité,
    .respect,
    .service,
    .securité {
        width: 100%;
    }
    .Image_a_propos {
        width: 100%;
        height: 223px;
        left: 100px;
        object-fit: cover;
        border-radius: 30px;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    .container {
        max-width: 1024px;
    }
    .texte_page_a_propos {
        width: 978px;
        padding-left: 235px;
        font-size: 24px;
    }
    .Image_a_propos {
        width: 100%;
        height: 223px;
        left: 100px;
        object-fit: cover;
        border-radius: 30px;
    }
}
@media (min-width: 1440px) {
    html {
        margin-left: 0px;
    }
    .Image_a_propos {
        margin-left: 20%;
    }
    nav {
        margin-left: 120%;
    }
    .menu_deroulant {
        margin-left: 20%;
    }
}
