.Description_text,
.Equipements_text {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
    -webkit-animation: slide 1s ease-in;
    animation: slide 1s ease-in;
}
.carroussel {
    width: 1240px;
    height: 415px;
    flex-shrink: 0;
    border-radius: 25px;
    flex: 1; /* Occupe tout l'espace restant pour que le footer reste en bas */
}
.title {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 51.336px */
    margin-top: 2%;
}
.location {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
}
.host {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}
.profil {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 45%;
}
.tags {
    width: 115px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 10px;
    color: white;
    display: flex;
}
.Rates {
    float: right;
}
.item {
    width: 145px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #ff6060;
    color: white;
    margin-right: 2%;
    text-align: center;
    float: left;
    margin-top: 1%;
}

.description,
.equipements {
    width: 582px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #ff6060;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 257%;
    &:hover {
        cursor: pointer;
    }
    padding-left: 2%;
}
.description img,
.equipements img {
    float: right;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.arrow_back {
    color: white;
}

body {
    width: 1240px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.dropdown {
    display: flex;
    float: left;
}
.equipements {
    margin-left: 2%;
}
html {
    height: 100%;
    margin-left: 50px;
    margin-top: 2%;
    margin-bottom: 7%;
}
.logo {
    height: 100%;
    width: 100%;
}
.principale {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* S'assure que la page prend toute la hauteur */
    width: 1240px;
}
.arrow_forward {
    margin-left: 85%;
}
.arrow_back {
    margin-left: -100%;
}
.arrow_forward_carroussel {
    margin-left: 85%;
}
.arrow_back_carroussel {
    margin-left: -100%;
}
.arrow_back2:hover {
    transform: rotate(180deg);
}
.logo_container {
    display: flex;
}
.arrow_back:hover {
    cursor: pointer;
}
.arrow_forward:hover {
    cursor: pointer;
}
.description_content {
    padding-top: 5%;
    width: 100%;
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
    animation: 3s ease-in 1s reverse both running slidein;
    padding-left: 0px;
    margin-bottom: 20px; /* Ajuste la valeur selon tes besoins */
}
.equipements_content {
    background: #e9e9e9;
}
#id {
    width: 100%;
}
.classe-clic-equipements {
    align-items: center;
    margin-bottom: 2%;
    margin-left: 0;
    padding-left: 2%;
    line-height: 257%;
    font-size: 18px;
    border-radius: 5px;
    justify-content: space-between;
    width: 605.27px;
    height: 52px;
    flex-shrink: 0;
    background-color: #ff6060;
    color: #ffffff;
    display: block;
    margin-left: 2%;
    img {
        float: right;
        width: 50px;
        height: 50px;
    }
}
.classe-clic-description {
    align-items: center;
    margin-bottom: 2%;
    margin-left: 0;
    padding-left: 2%;
    line-height: 257%;
    font-size: 18px;
    border-radius: 5px;
    justify-content: space-between;
    width: 582px;
    height: 52px;
    flex-shrink: 0;
    background-color: #ff6060;
    color: #ffffff;
    display: block;
    img {
        float: right;
        width: 50px;
        height: 50px;
    }
}
.container {
    width: 100%;
}
.footer-container {
    position: relative;
    transition: transform 0.3s ease-in-out; /* Animation fluide */
    padding-bottom: 35%;
}
.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espace entre les sections */
    width: 100%;
}
.dropdown-section {
    width: 100%;
}
.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6b6b;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
    animation: slide 1s ease-in;
}
@media (min-width: 375px) and (max-width: 425px) {
    .dropdown-section {
        width: 335px;
        height: auto;
        padding-top: 25px;
        padding-left: 20px;
    }
    .arrow_forward_carroussel {
        margin-left: 75%;
        width: 24px;
        position: relative;
        padding-top: 3%;
    }
    .arrow_back_carroussel {
        padding-left: 8%;
        width: 24px;
        position: relative;
        padding-top: 3%;
    }
    .logo {
        padding-top: 5%;
        width: 100%;
    }
    .arrow_forward {
        margin-left: 45%;
    }
    .location {
        padding-top: 20px;
        width: 323px;
        height: 22px;
    }
    .host {
        display: flex;
        width: 135px;
        padding-left: 219px;
        height: 33px;
    }
    .dropdown-content {
        width: 100%;
        padding: 0;
    }
    .Description_text,
    .Equipements_text {
        width: 100%;
    }
    body {
        width: 100%;
    }
    html {
        margin-left: 0px;
    }
    .principale {
        width: 100%;
    }
    .carroussel {
        width: 100%;
    }
    .logo_container {
        width: 100%;
    }
    .title {
        width: 335px;
        font-size: 18px;
    }
    .tags {
        width: 100%;
        display: block;
        padding-top: 1%;
    }
    .dropdown {
        width: 100%;
        display: block;
        padding-top: 6%;
    }
    .description {
        width: 100%;
    }
    .equipements {
        width: 100%;
        margin-left: 0;
        margin-top: 7%;
    }
    .item {
        width: 84px;
    }
    .Rates {
        float: left;
        width: 94px;
        img {
            width: 98px;
            height: 18px;
            padding-left: 20px;
        }
    }
    .Rates_and_host {
        display: block;
    }
    .profil {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        padding-top: 11px;
        border-radius: 45%;
    }
    .host_name {
        padding-top: 15px;
    }
    .footer-container {
        position: relative;
        transition: transform 0.3s ease-in-out; /* Animation fluide */
        padding-bottom: 35%;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .principale {
        width: 768px;
    }
    .carroussel {
        width: 768px;
    }
    .logo_container {
        width: 768px;
    }
    .title {
        width: 768px;
    }
    .dropdown {
        width: 768px;
        display: block;
    }
    .card {
        flex: 1 1 calc(50% - 16px); /* 2 cartes par ligne */
        max-width: calc(100% - 16px);
        height: 100%;
    }
    .list_card {
        margin: 0;
        justify-content: start;
        width: 100%;
    }
    .text {
        width: 40%;
        padding-left: 0;
        margin-top: -7%;
    }
    #Cards {
        width: 768px;
    }
    body {
        width: 768px;
    }
    html {
        margin-left: 0px;
    }
    .Rates {
        padding-top: 5em;
    }
    .host {
        display: flex;
    }
    .host_name {
        width: 93px;
    }
    .item {
        margin-top: 50%;
    }
    .equipements {
        margin-top: 1em;
        margin-left: 0;
    }
    .description,
    .equipements {
        width: 100%;
    }
    .arrow_forward_carroussel {
        margin-left: 75%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        width: 1024px;
    }
    html {
        margin-left: 10px;
    }
    .principale {
        width: 1024px;
    }
    .carroussel {
        width: 1024px;
    }
    .logo_container {
        width: 1024px;
    }
    .title {
        width: 1024px;
    }
    .dropdown {
        width: 1024px;
    }
    .description,
    .equipements {
        width: 47%;
    }
    .arrow_forward_carroussel {
        margin-left: 82%;
    }
    .Rates_and_host {
        padding-left: 50em;
    }
    .host_name {
        padding-right: 1em;
        padding-top: 1em;
        img {
            margin-left: 9em;
        }
    }
    .host {
        display: flex;
    }
    .item {
        margin-top: 6em;
    }
    .Rates {
        padding-bottom: 3em;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .principale {
        width: 1440px;
    }
    .carroussel {
        width: 1440px;
    }
    .logo_container {
        width: 1440px;
    }
    .dropdown {
        width: 1440px;
        flex-direction: row;
    }
    .description,
    .equipements {
        padding-left: 2%;
        width: 47%;
    }
    .Rates_and_host {
        padding-left: 80em;
    }
    .host_name {
        padding-right: 1em;
        padding-top: 1em;
        img {
            margin-left: 9em;
        }
    }
    .host {
        display: flex;
    }
    .item {
        margin-top: 6em;
    }
    .Rates {
        padding-bottom: 3em;
    }
}
