.divFooter {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}
.divFooter img {
    padding-right: 1px;
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .divFooter {
        width: 1440px;
    }
}
