.divFooter {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}
.divFooter img {
    padding-right: 1px;
}
@media (min-width: 375px) and (max-width: 425px) {
    .divFooter {
        margin-top: 15px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .divFooter {
        width: 1024px;
    }
}
