nav {
    width: 309px;
    height: 34px;
    flex-shrink: 0;
    display: flex;
}
#divPrincipale {
    display: flex;
    place-content: space-between;
    width: 1290px;
}
#divPrincipale a {
    width: 136px;
    color: #ff6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
}
#divPrincipale a:hover {
    background: rgba(255, 96, 96, 0.1);
    height: 100%;
}

/*p {
    color: #000;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;  68.448px 
    position: absolute;
    z-index: 1;
}*/

.erreur-404 {
    display: flex;
    width: 597px;
    height: 263px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #ff6060;
    text-align: center;
    font-family: Montserrat;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%; /* 410.688px */
}
.retour-accueil {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    text-decoration-line: underline;
}
.Text-logo {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-align: center;
}
