nav {
    width: 309px;
    height: 34px;
    flex-shrink: 0;
    display: flex;
}
#divPrincipale {
    display: flex;
    place-content: space-between;
    width: 1240px;
    padding-bottom: 3%;
}
#divPrincipale a {
    width: 309px;
    color: #ff6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
#divPrincipale a:hover {
    background: rgba(255, 96, 96, 0.1);
}
.Text-logo {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}
li {
    list-style: none;
}
@media (min-width: 375px) and (max-width: 425px) {
    .Text-logo {
        font-size: 24px;
        padding-left: 36px;
        text-align: start;
    }
    #divPrincipale {
        width: 335px;
        height: 47px;
        display: flex;
        flex-wrap: nowrap;
        padding-top: 20px;
        padding-left: 20px;
        a {
            width: 145px;
            height: 17px;
            font-size: 13px;
        }
    }
    nav {
        padding-top: 18px;
        padding-left: 15px;
        width: 140px;
        height: 17px;
        flex-shrink: 0;
        display: flex;
    }
    .accueil_link {
        width: 59px;
        height: 17px;
    }
    .a_propos_link {
        width: 71px;
        height: 17px;
    }
}
