.accueil_link,
.a_propos_link {
    display: flex;
    width: 1240px;
    height: 68px;
    justify-content: center;
    align-items: flex-end;
    color: #ff6060;
}
nav {
    width: 309px;
    height: 34px;
    flex-shrink: 0;
    display: flex;
}

#divPrincipale {
    display: flex;
    place-content: space-between;
    padding-bottom: 3%;
    position: static;
    z-index: 10;
    background-color: white;
}

#divPrincipale a {
    width: 309px;
    color: #ff6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

#divPrincipale a:hover {
    background: rgba(255, 96, 96, 0.1);
}

.Text-logo {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

li {
    list-style: none;
}

/* Responsive */
@media (min-width: 320px) {
    .Text-logo {
        font-size: 24px;
        padding-left: 36px;
        text-align: start;
    }

    #divPrincipale {
        display: flex;
        align-items: center;
        justify-content: space-between; /* pour que le logo reste à gauche et le menu à droite */
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    /* Si tu veux centrer le logo à 100% */
    #divPrincipale img {
        margin: 0 auto;
        width: 165px;
    }

    #divPrincipale a {
        width: 57px;
        height: 17px;
        font-size: 13px;
    }

    #divPrincipale img {
        margin-left: -5%;
    }

    nav {
        padding-top: 18px;
        width: 100px;
        height: 17px;
        flex-shrink: 0;
        display: flex;
        margin-left: -10%;
    }

    .accueil_link {
        width: 59px;
        height: 17px;
    }

    .a_propos_link {
        width: 71px;
        height: 17px;
    }
}

@media (min-width: 375px) {
    #divPrincipale {
        max-width: 300px;
        margin-left: 40px;
    }
}

@media (min-width: 425px) {
    #divPrincipale {
        max-width: 400px;
    }

    nav {
        margin-left: 20%;
    }
}
@media (min-width: 768px) {
    nav {
        margin-left: 120%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        margin-left: 185%;
    }
}

@media (min-width: 1024px) {
    .arrow {
        width: 32px;
        height: 32px;
    }

    nav {
        margin-left: 185%;
    }
}
@media (min-width: 1440px) {
    nav {
        margin-left: 160%;
    }
    #divPrincipale {
        margin-left: 85px;
    }
}
