Footer {
    margin-top: 23%;
}
p {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 3rem;
    margin-top: 7%;
}
.img-home {
    width: 100%;
}
.img-principale {
    opacity: 30%;
}
img {
    filter: brightness(80%);
}
li {
    list-style: none;
}
#root {
    width: 1024px;
}

body {
    width: 100%;
}
section {
    .img-home {
        border-radius: 5%;
    }
}
#idPrincipale {
    width: 1240px;
    padding-top: 40px;
}
.section_principale {
    width: 1240px;
    height: 223px;
}
.container_img_header {
    width: 1240px;
    height: 223px;
    border-radius: 10px;
    img {
        border-radius: 20px;
    }
}
